/*header*/
.header {
  background-color: black ;
  padding: 50px;
}

.fitlogo {
  width: 100px ;
  height: 100px ;
  float: left;
}






/*body*/
main{
    background-color: #aeaeae;
}










/*footer*/
.footer {
  background-color: black;
  padding : 200px ;
}

.footerbox {
  background-color: aliceblue;
}
