/*header*/
.header {
  background-color: black ;
  padding: 50px;
}

.fitlogo {
  width: 100px ;
  height: 100px ;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*body*/
main{
    background-color: #aeaeae;
}

#maintekst1{
    font-size: 100px;
    color: white;
    word-spacing: 50px;
    font-family: Arial, Helvetica, sans-serif, bold;

}





/*footer*/
.footer {
  background-color: black;
  padding : 200px ;
}

.footerbox {
  background-color: aliceblue;
}
