/*header*/
.header {
  background-color: black ;
  padding: 50px;
}

.fitlogo {
  width: 100px ;
  height: 100px ;
  float: left;
}

.nav {
    width: 100%;
    color: white ;
    position: fixed;
    background-color: yellow;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}




/*body*/
main{
    background-color: #aeaeae;
}

#maintekst1{
    font-size: 100px;
    color: white;
    word-spacing: 50px;
    font-family: Arial, Helvetica, sans-serif, bold;

}





/*footer*/
.footer {
  background-color: black;
  padding : 200px ;
}

.footerbox {
  background-color: aliceblue;
}
